n8n-workflows/FR-CSV-Import-Supabase.json
{
  "name": "FR - CSV Lead Import → Supabase",
  "nodes": [
    {
      "id": "csv_webhook",
      "name": "CSV Upload Endpoint",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "fr-lead-import",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        },
        "authentication": "headerAuth",
        "headerAuth": {
          "name": "x-webhook-secret",
          "value": "={{$env.N8N_WEBHOOK_SECRET}}"
        }
      }
    },
    {
      "id": "csv_parse",
      "name": "Parse CSV File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "csv"
      }
    },
    {
      "id": "csv_map",
      "name": "Map & Normalize Columns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst mapped = [];\n\nfor (const item of items) {\n  const d = item.json;\n  const fullName = d['Full Name'] || d['Name'] || d['full_name'] || d['name'] || '';\n  const firstName = fullName.split(' ')[0] || '';\n  const email = (d['Email'] || d['email'] || '').trim();\n\n  if (!email || !email.includes('@')) continue;\n\n  mapped.push({\n    json: {\n      full_name: fullName,\n      first_name: firstName,\n      email: email,\n      phone: d['Phone'] || d['phone'] || '',\n      state: d['State'] || d['state'] || '',\n      riding_goal: d['Riding Goal'] || d['riding_goal'] || '',\n      height: d['Height'] || d['height'] || '',\n      weight: d['Weight'] || d['weight'] || '',\n      inquiry_type: 'general',\n      status: 'new',\n      temperature: 'medium',\n      source: 'ad',\n      tags: '{\"ad lead\"}',\n      email_sequence_active: true,\n      email_sequence_step: 0\n    }\n  });\n}\n\nif (mapped.length === 0) {\n  throw new Error('No valid rows found in CSV (need at least an email column).');\n}\n\nreturn mapped;"
      }
    },
    {
      "id": "insert_leads",
      "name": "Insert into Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "operation": "create",
        "tableId": "leads",
        "fieldsToSend": {
          "fieldValues": [
            { "fieldName": "full_name", "fieldValue": "={{ $json.full_name }}" },
            { "fieldName": "first_name", "fieldValue": "={{ $json.first_name }}" },
            { "fieldName": "email", "fieldValue": "={{ $json.email }}" },
            { "fieldName": "phone", "fieldValue": "={{ $json.phone }}" },
            { "fieldName": "state", "fieldValue": "={{ $json.state }}" },
            { "fieldName": "riding_goal", "fieldValue": "={{ $json.riding_goal }}" },
            { "fieldName": "height", "fieldValue": "={{ $json.height }}" },
            { "fieldName": "weight", "fieldValue": "={{ $json.weight }}" },
            { "fieldName": "inquiry_type", "fieldValue": "={{ $json.inquiry_type }}" },
            { "fieldName": "status", "fieldValue": "={{ $json.status }}" },
            { "fieldName": "temperature", "fieldValue": "={{ $json.temperature }}" },
            { "fieldName": "source", "fieldValue": "ad" },
            { "fieldName": "tags", "fieldValue": "={{ $json.tags }}" },
            { "fieldName": "email_sequence_active", "fieldValue": "={{ $json.email_sequence_active }}" },
            { "fieldName": "email_sequence_step", "fieldValue": "0" }
          ]
        }
      }
    },
    {
      "id": "log_import",
      "name": "Log Import Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1000, 300],
      "parameters": {
        "operation": "create",
        "tableId": "ad_imports",
        "fieldsToSend": {
          "fieldValues": [
            { "fieldName": "file_name", "fieldValue": "={{ 'csv-import-' + $now.format('yyyy-MM-dd-HHmm') + '.csv' }}" },
            { "fieldName": "lead_count", "fieldValue": "={{ $('Map & Normalize Columns').all().length }}" },
            { "fieldName": "imported_by", "fieldValue": "forrest" }
          ]
        }
      }
    },
    {
      "id": "notify_import",
      "name": "Notify: Import Complete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1000, 500],
      "parameters": {
        "operation": "create",
        "tableId": "notifications",
        "fieldsToSend": {
          "fieldValues": [
            { "fieldName": "type", "fieldValue": "import" },
            { "fieldName": "title", "fieldValue": "CSV Import Complete" },
            { "fieldName": "message", "fieldValue": "={{ $('Map & Normalize Columns').all().length + ' ad leads imported from CSV' }}" }
          ]
        }
      }
    },
    {
      "id": "csv_respond",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, rowsImported: $('Map & Normalize Columns').all().length } }}"
      }
    }
  ],
  "connections": {
    "CSV Upload Endpoint": {
      "main": [[{ "node": "Parse CSV File", "type": "main", "index": 0 }]]
    },
    "Parse CSV File": {
      "main": [[{ "node": "Map & Normalize Columns", "type": "main", "index": 0 }]]
    },
    "Map & Normalize Columns": {
      "main": [[{ "node": "Insert into Supabase", "type": "main", "index": 0 }]]
    },
    "Insert into Supabase": {
      "main": [[
        { "node": "Log Import Record", "type": "main", "index": 0 },
        { "node": "Notify: Import Complete", "type": "main", "index": 0 }
      ]]
    },
    "Log Import Record": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "<<ERROR_WORKFLOW_ID>>"
  }
}
